---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
				<h2>Precision matters. You’d service a Rolex; why not take a closer look at what keeps your business ticking?</h2>
			<p> </p>
			<p> </p>
			<p>
				<h3>Thank you for choosing us in your Endeavor for Efficiencies.</h3>
			</p>

			<p>
				Located in the Greater Philadelphia Region, Ernst Efficiencies was created with the mission of streamlining operations
				and automating tasks to allow companies to increase their utilization of preexisting resources.  We do this by automating
				digital tasks, implementation of six sigma projects, standardizing designs, creating fixtures, and more.
			</p>

			<p>
				<h4><a href="mailto:contact@ernstefficiencies.com" target="_blank">Contact us by email at contact@ernstefficiencies.com</h4>
			</p>
			
		</main>
		<Footer />
	</body>
</html>
